/* Common shared style for all */
body {
  font-family: "Open Sans", sans-serif;
}
/* Primary color-> orange */
.text-primary-color {
  color: #fd6e0a;
}
/* button clr */
.button-style {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 18px 35px;
}

/* Nav bar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
/* UL styled */
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: var(--Dark-02, #474747);
}

/* Header relateds style */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-des {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}
